body {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    font-size: 13px!important;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#bd-deal-detail .form-control {
    min-width: 50px;
}
#bd-deal-detail .form-control.price-product {
    min-width: 130px;
}
.table thead th {
    vertical-align: middle;
}
