<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="f.css?v=20200817" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="lib/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <script src="https://api.bitrix24.com/api/v1/"></script>
    <script src="iso8601.min.js"></script>
    <script src="f.js"></script>
</head>

<body>
    <div class="container-fluid ml-auto" id="app">
        <div class="row">
            <div class="col-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="dealID">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" @click=handleSearchDeal()>Tìm Kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Mua hàng cho thỏa thuận: {{ dealDetail.TITLE }} </h6>
                <h6>Tên Khách Hàng: {{ dealDetail.USERNAME }}</h6>
                <h6>Công Ty: {{ dealDetail.COMPANY_NAME }}</h6>
                <h6>Đơn vị thụ hưởng: {{ companyDetail.companyName }}</h6>
                <h6>Opportunity: {{ dealDetail.OPPORTUNITY}} VND</h6>
                <h6>Tax Value: {{ dealDetail.TAX_VALUE }} VND</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-hover" id="table-deal-detail">
                        <thead class="thead-dark">
                            <tr class="align-item-center">
                                <th scope="col">Sản Phẩm</th>
                                <th scope="col">Đơn vị</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Giá sản phẩm</th>
                                <th scope="col">Nhà cung cấp</th>
                            </tr>
                        </thead>
                        <tbody id="bd-deal-detail">
                            <tr v-for="item in arrProducts" :key=item.ID>
                                <td style="max-width: 250px;" scope="row" class="text-break">
                                    <p class="form-text text-break">
                                        {{ item.PRODUCT_NAME }}
                                    </p>
                                </td>
                                <td class="text-break">
                                    <p class="form-text text-break">
                                        {{ item.MEASURE_NAME }}
                                    </p>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ item.QUANTITY }}
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        {{ formatCurrency(item.PRICE) }}
                                    </div>
                                </td>
                                <td class="text-break">
                                    <p class="form-text text-break">
                                        {{ companyDetail.companyName }}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="save-deal" @click="saveDeal()">Lưu</button>
            </div>
        </div>
    </div>

    <script src="lib/vue.js"></script>
    <script src="lib/axios.min.js"></script>
    <script src="./modules/deal-detail.js?v=20200817"></script>
</body>

</html>